#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  outline: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  display: grid;
  gap: 5px;
}
.row {
  display: flex;
}
.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.marble {
  background-color: #555;
  border-radius: 50%;
}
.selected {
  background-color: violet;
}
.empty {
  background-color: #444;
  border-radius: 50%;
}
.empty-cell {
  background-color: transparent;
  border: none;
}

.game-over {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ffcccc;
  color: #990000;
  font-weight: bold;
  border: 2px solid #990000;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

/* Win Message */
.win-message {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ccffcc;
  color: #006600;
  font-weight: bold;
  border: 2px solid #006600;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.time-lapsed {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #006600;
}